@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* VARIÁVEIS PARA ARMAZENAR CORES QUE SERÃO UTILIZADAS NO SITE */
:root {
    ---white: #fff;
    ---dark:  #000000;
    ---dark1: #272727;
    ---dark2: #2d2d2d;
    ---dark3: #414141;
    --dark4:  #1c1c1c;
    ---dark5: #343434;
    ---blue:  #B0E0E6;
}

body {
    background-color: var(---dark5);
    font-family: 'Lato';
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(---dark1);
    min-height: 50px;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(---dark4);
}

nav a:hover {
    color: var(---blue);
    transition: .4s;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding: 3rem;
}

.primeira-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0 10% 0;
    gap: 3rem;
}

.primeira-section > div {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

h1 {
    color: var(---dark4);
    font-size: 4rem;
}

strong {
    color: var(---blue);
}

.box-img {
    display: block;
    border-radius: 60%;
    overflow: hidden;
    margin-right: 10%;
    width: 450px;
    height: 490px;
}

.foto-vini {
    width: 100%;
}

.segunda-section {
    text-align: center;
}

#sobre-mim {
    background-color: var(---blue);
    border-radius: 10px;
    padding: 15px;
}

#sobre-mim h2 {
    font-family: 'Lilita One';
}

#sobre-estudos {
    background-color: var(---blue);
    border-radius: 10px;
    padding: 10px;
}

#sobre-estudos h2 {
    font-family: 'Lilita One';
}

#contato {
    background-color: var(---blue);
    border-radius: 10px;
    padding: 5px;
}

#contato h2 {
    font-family: 'Lilita One';
}

footer {
    text-align: center;
    background-color: var(---dark1);
    color: var(---dark4);
}