@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* VARIÁVEIS PARA ARMAZENAR CORES QUE SERÃO UTILIZADAS NO SITE */
:root {
    ---white: #fff;
    ---dark1: #34344e;
    ---dark2: #3a415a;
    ---dark3: #566981;
    --dark4:  #89a7b1;
    ---dark5: #cbdad5;
    ---dark6: #2f2f46;
    ---green1:#32CD32;
}

body {
    background-color: var(---dark1);
    height: 100vh;
    font-family: 'Lato';
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(---dark6);
    min-height: 50px;
}

.box-img-header {
    height: 100%;
}

.img-logo {
    max-width: 60px;
    height: 100%;
}

#img-perfil {
    width: 450px;
    height: 490px;
    margin-right: 10%;
}